.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
*.tfvars.json
*.tfbackend
override.tf
override.tf.json
*_override.tf
*_override.tf.json
backend-local.tf
!*.tfvars.example
!*.tfbackend.example
